<form>
    <h2>Create mosaic</h2>
    <p>
        {{ errors.non_field_errors }}
    </p>
    <p *ngIf="errors.name" class="error">
      <span>{{ errors.name }}</span>
    </p>
    <input [(ngModel)]="name" placeholder="name">
    <br>
    <br>
    <p *ngIf="errors.folder" class="error">
      <span>{{ errors.folder }}</span>
    </p>
    <select placeholder="folder" #f (change)="selectFolder(f.value)">
        <option [value]="folder.id" *ngFor="let folder of folders">{{ folder.name }}</option>
    </select>
    <br>
    <br>
    <p *ngIf="errors.target" class="error">
      <span>{{ errors.target }}</span>
    </p>
    <input #image placeholder="target" type="file" (change)="selectImage(image)">
    <button (click)="create()">Create</button>

</form>
